$site-break: 600px;

$site-large-label-break: 850px;

$reel-item-height: 80px;
$reel-item-height--large: 300px;

$slot-machine-border: 6px;
$slot-machine-border--large: 14px;
$slot-machine-border-radius: 32px;
$slot-machine-color: #d43757;
$slot-machine-color--dark: #a31932;

$metal-effect: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(73,73,73,1) 15%,rgba(186,186,186,1) 40%,rgba(242,242,242,1) 50%,rgba(186,186,186,1) 60%,rgba(73,73,73,1) 85%,rgba(0,0,0,1) 100%);
$metal-effect--vertical: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(73,73,73,1) 15%,rgba(186,186,186,1) 40%,rgba(242,242,242,1) 50%,rgba(186,186,186,1) 60%,rgba(73,73,73,1) 85%,rgba(0,0,0,1) 100%);

// =============================================================================
// Layout
// =============================================================================

// Page
// ----------------------------------------------------------------------
.page-container {
	width: 100%;
	min-width: 320px;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	font-family: Arial, Helvetica;
	box-sizing: border-box;
}

// =============================================================================
// Slot Machine
// =============================================================================

.slot-machine {
	display: flex;
	max-width: 950px;
	margin: 0 auto;
}

.slot-machine-content {
	position: relative;
	display: inline-block;
	width: 95%;
}

// Reels
// ----------------------------------------------------------------------
.slot-machine__container {
	height: $reel-item-height;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;	
}

.slot-machine__reel_container_inner{
	background-color:#FFF;
	width: 90%;
	height: 93%;
	margin: 5%;
}

.slot-machine__reel--template {
	display: none;
}

.slot-cover  {
	position: absolute;
	width: 30%;
	margin-right: 5%;
	border-radius: 20px;
	box-sizing: border-box;
	height: $reel-item-height;
	top: 0px;
	left: 0px;

	border: 4px solid transparent;
    border-radius: 16px;
    /*
    background: linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 19%, rgba(255,255,255,1) 47%, rgba(77,77,77,1) 79%, rgba(254,254,254,1) 100%);
    */
    background: transparent;
    background-clip: padding-box;
    padding: 10px;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

.slot-cover.slot-cover-1 {
	left: 35%;
}

.slot-cover.slot-cover-2 {
	left: 70%;
}


.slot-cover::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(254,254,254,1);
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.slot-machine__reel_container {
	
	display: inline-block;
	width: 30%;
	margin-right: 5%;	
	box-sizing: border-box;

	background: linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 19%, rgba(255,255,255,1) 47%, rgba(77,77,77,1) 79%, rgba(254,254,254,1) 100%);



	/*
		-webkit-box-shadow: inset -1px 14px 5px 0px rgba(0,0,0,0.49);
		-moz-box-shadow: inset -1px 14px 5px 0px rgba(0,0,0,0.49);
		box-shadow: inset -1px 14px 5px 0px rgba(0,0,0,0.49);
	*/

	&:last-child {
		margin-right: 0;
	}

	&:before {
		height: 6px;
	}

}

.slot-machine__reel {
	width: 90%;
    margin: 5%;
}

.slot-machine__reel-item {
	width: 100%;
	height: $reel-item-height - ($slot-machine-border * 2);	
	padding: 20px;
	line-height: $reel-item-height - ($slot-machine-border * 2);
	box-sizing: border-box;	
}

.slot-machine__reel-item-item-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

}

.slot-machine__reel-item-item-content img {
	width: 100%;
	/* max-height: 100%; */
}

.winner li {
	-webkit-animation: winnerBox 2s infinite linear;
	   -moz-animation: winnerBox 2s infinite linear;
		-ms-animation: winnerBox 2s infinite linear;

	span {
		 -webkit-animation: winner 2s infinite linear;
			-moz-animation: winner 2s infinite linear;
			 -ms-animation: winner 2s infinite linear;
	}
}

@media (min-width: $site-break) {
	// Reels
	// ----------------------------------------------------------------------
	.slot-machine__container, .slot-machine__reel_container {
		height: $reel-item-height--large;
	}

	.slot-cover {
		height: $reel-item-height--large;
		z-index: 1000;
	}

 	.slot-machine__reel-item {
		height: $reel-item-height--large - ($slot-machine-border * 2);
		line-height: $reel-item-height--large - ($slot-machine-border * 2);	
	}
}